<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>
            {{binPath}}
        </title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

        <style>
            html {
                display: block;
                padding: 60px 100px;
            }

            pre {
                border-left: 0.3rem solid #bf0603;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <header>
                <h2>Requests</h2>
                <p>Your Tortoise Bin endpoint is: <strong>{{binPath}}</strong>
                </p>
            </header>
            <section>
                <h2>All requests sent to your bin</h2>
                <pre>{{queryResults}}</pre>
            </section>
        </div>
    </body>
</html>