<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title>
        {{binPath}}
    </title>
</head>
<body>
    <div class="container mt-2">
        <header>
            <h2>Requests</h2>
            <p>Your Tortoise Bin endpoint is: <strong>{{binPath}}</strong>
            </p>
        </header>
        <section>
            <h2>All requests sent to your bin</h2>
            <pre>{{queryResults}}</pre>
        </section>
    </div>
</body>
</html>