<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tortoise Bin</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
  
    <style>
      html {
        display: block;
        padding: 60px 100px;
      }

      h1 {
        font-size: 5rem;
      }

      h5 {
        font-size: 2rem;
      }

      .button, button, input[type='button'], input[type='reset'], input[type='submit'] {
        background-color: #bf0603;
        border: 0.1rem solid #bf0603;
        margin: 10px 0px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Tortoise Bin</h1>
      <h5>A simple tool to inspect and debug webhook requests.</h5>
      <form method="post" action="/createBin">
        <button id="create-btn" type="submit" class="button">Create a bin</button>
      </form>
    </div>
  </body>
</html>